cloud_id="{{ cloud_id }}"
folder_id="{{ folder_id }}"
user_id="{{ user_id }}"
domain="{{ domain }}"
token="{{ token }}"
service_account_id="{{ service_account_id }}"
db_user="{{ db_user }}"
db_password={{ db_password }}
